* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* This section is for the Navbar component */
.topnav {
  background-color:blanchedalmond;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-weight: 600;
}

.logo {
  height: 50px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: burlywood;
  color: whitesmoke;
}
/* This section is for the Home Page*/
.welcomebanner {
  display: block;
  margin: 0 auto;
  max-width: 70rem;
  min-width: 70%;
  height: 20rem;
  padding-top: 2rem;
}

/* This section is for the About us Page */
.AboutUsLogo img{
  width: 6rem;
  padding-top: 1rem;
  display: block;
  margin: 0 auto;
  min-width: none;
}

.HeadingUnderPicture{
  text-align: center;
}

.g-3 {
  display: flex;
  flex-wrap: nowrap;
}

.AboutUsCard{
  padding: 20px;
  margin: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen  and (max-width: 767px) {
  .AboutUsCard{
    margin-bottom: 40px;
  }
}

.CardTitle{
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.TextInCard{
  text-align: center;
}

  .aboutUsPic {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }

  .CardImage {
    display: block;
    margin: 0 auto;
    width: 70%
  }

.ContactUsHeader{
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

form label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

form button[type="submit"]:hover {
  background-color: #0066b2;
}

.ContactUsContainer {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items:flex-start;
}

.ContactUsForm{
  width:60%;
}

.ContactUsInfo {
  width: 25%;
  margin-left: 2%;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.ContactUsInfo h4 {
  font-weight: bold;
}

.ContactUsInfo p{
  margin: 0;
  margin-bottom: 10px
}

/* This section is for the Custom pieces page*/
.banner{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding-top: 2rem;
}

.customCard{
display: flex;
align-items: center; /* align items vertically*/
justify-content: center; /* align items horizontally */
margin-bottom: 20px;
overflow: hidden;
border: 1px solid #e5e5e5;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.customCard.middleCard{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.middleCard .imgContainer {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-left: 2%;

  border-left: 1px solid #e5e5e5;
}

.middleCard .imgContainer img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px ;
}

.imgContainer{
  width: 100%;
  padding: 20px;
  border-right: 1px solid #e5e5e5;
}

.imgContainer img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px ;
}

.card-content{
  width: 75%;
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
}

/* This section is for the form in the Custom Pieces File*/
.formCustom{
  min-width: 100%;
  height: 50rem;
  border: dotted black;
  box-sizing: border-box;
  margin: 0;
  padding: 5rem;
  position: relative;
  /* border: 1px solid red; */
}

.formCustom label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0
}
/* Sizing Conventions */

/* This is for the Footer(Social Links)*/

a.social{
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover{
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.tiktok {
  color: black
}
