* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
  background-color:blanchedalmond;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-weight: 600;
}

.logo {
  height: 50px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: burlywood;
  color: whitesmoke;
}

/*

.imageLeft{
  margin: 75px;
}

.textRight{
  padding-left: 2rem;
  text-align: right;
}


.rightPicture{
  width:400px;
  height: 180px;
  margin-left: 180px;
  overflow: hidden;
  text-align: left;
}

.leftPicture{
  width: 50%;
}


.secondCard {
  width: 320px;
  padding: 20px;
  border: 1 px solid burlywood;
}

*/

.banner{
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 2rem;
}

.Card {
display: flex;
flex: 0 0 25%;
}

.leftPicture {
  width: 320px;
  padding: 20px;
  border: 1px solid burlywood;
  display:inline-table;
}

.rightPicture{
  width: 320px;
  padding: 20px;
  border: 1px solid burlywood;
  display:inline-table;
}

/* Sizing Conventions */

