* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
  background-color:blanchedalmond;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-weight: 600;
  
}

.logo {
  height: 50px;
}
.container {
  display: flex;
  justify-content: space-around;
}

.intro {
  width: 320px;
  padding: 20px;
  border: 1px solid burlywood;
}
.introCard {
  padding: 10px;
}

.CustPic {
  width: 320px;
  padding: 20px;
  border: 1 px solid burlywood;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: burlywood;
  color: whitesmoke;
}

.banner{
  text-align: center;
  width: 50%;
}

.rightPicture{
  width:50%;
}

.leftPicture{
  width: 50%;
}











/* Sizing Conventions */

